In [191]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashud\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashud\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\ashud\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashud\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\ashud\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\ashud\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashud\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashud\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashud\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\ashud\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashud\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashud\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashud\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [192]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [19]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [20]:
driver.get('https://www.naukri.com/')

In [21]:
Designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
Designation.send_keys('Data Analyst')

In [22]:
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
Location.send_keys('Bangalore')

In [23]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
titletags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titletags[:10]:
    title=i.text
    job_title.append(title)

locationtags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locationtags[:10]:
    location=i.text
    job_location.append(location)

companytags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companytags[:10]:
    company=i.text
    company_name.append(company)
    
experiencetags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experiencetags[:10]:
    experience=i.text
    experience_required.append(experience)

In [25]:
print(len(job_title),len( job_location),len(company_name),len(experience_required))

10 10 10 10

In [26]:
DF=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
DF

,job_title,job_location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
4,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
5,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
6,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
9,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [28]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [29]:
driver.get('https://www.naukri.com/')

In [30]:
Designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
Designation.send_keys('Data Scientist')

In [31]:
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
Location.send_keys('Bangalore')

In [32]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [33]:
job_title=[]
job_location=[]
company_name=[]

titletags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titletags[:10]:
    title=i.text
    job_title.append(title)

locationtags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locationtags[:10]:
    location=i.text
    job_location.append(location)

companytags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companytags[:10]:
    company=i.text
    company_name.append(company)
    
print(len(job_title),len( job_location),len(company_name),len(experience_required))

10 10 10 10

In [34]:
DF=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name})
DF

,job_title,job_location,company_name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
9,Data Scientist,Bangalore/Bengaluru,Concentrix

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [4]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
Designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
Designation.send_keys('Data Scientist')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [15]:
Locationfilter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
Locationfilter.click()

In [16]:
salaryfilter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
salaryfilter.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

titletags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titletags[:10]:
    title=i.text
    job_title.append(title)

locationtags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
for i in locationtags[:10]:
    location=i.text
    job_location.append(location)

companytags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in companytags[:10]:
    company=i.text
    company_name.append(company)
    
experiencetags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiencetags[:10]:
    experience=i.text
    experience_required.append(experience)
  
print(len(job_title),len( job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
DF=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
DF

,job_title,job_location,company_name,experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,(WFH during Covid),Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Delhi / NCR, Chennai, Bangalore/Bengaluru",Celebal Technologies,1-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
        
1. Brand

2. Product Description

3. Price

4. Discount

In [246]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [247]:
driver.get('https://www.flipkart.com/')

In [248]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sunglasses')

In [249]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [250]:
brand_name=[]

start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        brand_name.append(brand)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')    # or XPATH : //span[text()="Next"]
    next_page.click()
    time.sleep(3)

In [251]:
len(brand_name)

120

In [252]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [253]:
product_description=[]

start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description=i.text
        product_description.append(description)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [254]:
len(product_description)

120

In [255]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [256]:
price=[]

start=0
end=3

for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        ptag=i.text
        price.append(ptag)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [257]:
len(price)

120

In [258]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [259]:
discount=[]

for page in range(start,end):
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        distag=i.text
        discount.append(distag)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [260]:
len(discount)

120

In [261]:
DF=pd.DataFrame({'Brand':brand_name,'Product Description':product_description,'Price':price,'Discount':discount})
DF.head(100)

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹799,60% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
4,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹252,74% off
...,...,...,...,...
95,ROZZETTA CRAFT,by Lenskart UV Protection Wayfarer Sunglasses ...,₹899,67% off
96,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹219,82% off
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹276,84% off
98,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹214,40% off
99,ROZZETTA CRAFT,"by Lenskart Polarized, UV Protection Rectangul...",₹749,20% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [456]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [457]:
driver.get('https://www.flipkart.com/')

In [458]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('iphone 11')

In [459]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [460]:
iphone=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
iphone.click()

In [461]:
# Reviews page
driver.get('https://www.flipkart.com/apple-iphone-11-white-64-gb/p/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=50d2a70c-473b-4323-aca1-89983dc24062.MOBFWQ6BVWVEH3XE.SEARCH&ppt=hp&ppn=homepage&ssid=2g3w5rh7gg0000001660925543745&qH=f6cdfdaa9f3c23f3')

In [462]:
reviews_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
reviews_page.click()

In [463]:
rating=[]

start=0
end=10
for page in range(start,end):
    star_rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in star_rating:
        A=i.text
        rating.append(A)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click() 
    time.sleep(3)

In [464]:
len(rating)

100

In [465]:
review_summary=[]

start=0
end=10
for page in range(start,end):
    reviews=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviews:
        A=i.text
        review_summary.append(A)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click() 
    time.sleep(3)

In [466]:
len(review_summary)

100

In [467]:
full_review=[]

start=0
end=10
for page in range(start,end):
    fullreview=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview:
        A=i.text
        full_review.append(A)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span')
    next_button.click() 
    time.sleep(3)

In [468]:
len(full_review)

100

In [469]:
DF=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review})
DF

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Terrific,Really worth of money. i just love it. It is t...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
99,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

In [262]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [263]:
driver.get('https://www.flipkart.com/')

In [264]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [265]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [266]:
brand_name=[]

start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        brand_name.append(brand)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')    # or XPATH : //span[text()="Next"]
    next_page.click()
    time.sleep(3)
len(brand_name)

120

In [268]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [269]:
product_description=[]

start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description=i.text
        product_description.append(description)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [271]:
len(product_description)

110

In [272]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [273]:
price=[]

start=0
end=3

for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        ptag=i.text
        price.append(ptag)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [274]:
len(price)

120

In [275]:
page01=driver.find_element(By.XPATH,'//a[@class="ge-49M" and text()="1"]')
page01.click()

In [276]:
discount=[]

for page in range(start,end):
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
        distag=i.text
        discount.append(distag)
    next_page=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_page.click()
    time.sleep(3)

In [277]:
len(discount)

120

In [281]:
brand_name=brand_name[:100]
product_description=product_description[:100]
price=price[:100]
discount=discount[:100]

In [282]:
DF=pd.DataFrame({'Brand':brand_name,'Product Description':product_description,'Price':price,'Discount':discount})
DF.head(100)

,Brand,Product Description,Price,Discount
0,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,"₹1,413",61% off
1,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,"₹2,217",59% off
2,DUCATI,Sneakers For Men,₹374,62% off
3,PUMA,Rebound JOY Sneakers For Men,₹499,50% off
4,Magnolia,Sneakers For Men,₹345,65% off
...,...,...,...,...
95,PUMA,Casual Sneakers Canvas Shoes For Men Sneakers ...,"₹2,304",76% off
96,Qitty,Puma Smash v2 Sneakers For Men,"₹1,499",74% off
97,ROCKFIELD,Cilia Sneakers For Women,₹469,62% off
98,PUMA,PANAL Sneakers For Men,"₹2,750",57% off
99,PREKANZO,Club Zone Sneakers For Men,₹499,40% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

In [421]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [422]:
driver.get('https://www.myntra.com/shoes')

In [425]:
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [424]:
color_filter=driver.find_element(By.XPATH,'//li[@class="colour-listItem"]')
color_filter.click()

In [452]:
brand=[]
Shoe_description=[]
price=[]

start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    description_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in range(len(brand_tags)):
        X=brand_tags[i].text
        Y=description_tags[i].text
        Z=' '.join(price_tags[i].text.split()[:2])
        if Z.endswith("Rs."):
            Z=Z[:-3]
        brand.append(X)
        Shoe_description.append(Y)
        price.append(Z)
    next_page=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_page.click()
    time.sleep(3)

In [430]:
print(len(brand),len(Shoe_description),len(price))

100 100 100

In [454]:
DF=pd.DataFrame({'Brand':brand,'Shoe Description':Shoe_description,'Price':price})
DF

              Brand          Shoe Description     Price
0          Red Tape         Men Walking Shoes  Rs. 1649
1              Nike  Men Ebernon Low Sneakers  Rs. 4555
2   U.S. Polo Assn.         Men Running Shoes  Rs. 2879
3             Sparx         Men Running Shoes  Rs. 1111
4            Denill   Pointed Toe Block Pumps   Rs. 599
..              ...                       ...       ...
95         Red Tape  Men Solid Formal Loafers  Rs. 1799
96  U.S. Polo Assn.              Men Sneakers  Rs. 2039
97             Nike     Air Max Axis Sneakers  Rs. 8355
98       Marc Loire               Women Pumps   Rs. 983
99  U.S. Polo Assn.            Men PU Loafers  Rs. 2079

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

In [283]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [284]:
driver.get('https://www.amazon.in/')

In [285]:
product=driver.find_element(By.XPATH,'//input[@type="text"]')
product.send_keys('Laptop')

In [286]:
search=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search.click()

In [287]:
filtertag=driver.find_element(By.XPATH,'//span[contains(text(),"Intel Core i7")]')
filtertag.click()

In [289]:
title=[]

title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    A=i.text
    title.append(A)

In [291]:
len(title)

10

In [307]:
rating=[]

Rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in Rating_tag[0:10]:
    A=i.text
    rating.append(A)

In [309]:
len(rating)

10

In [302]:
price=[]

price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    A=i.text
    price.append(A)

In [304]:
len(price)

10

In [420]:
DF=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
DF

                                               Title Rating     Price
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    4.3    62,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.0    57,990
2  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    4.0    79,490
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    4.3    82,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    4.0    87,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    4.1    80,990
6  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...    4.1  1,04,990
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...    4.3  1,09,990
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.2    89,990
9  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    3.9    84,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/

In [339]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [340]:
driver.get('https://www.ambitionbox.com/')

In [341]:
job_page=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job_page.click()

In [342]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys('Data Scientist')

In [343]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [349]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [350]:
location_search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[2]/div/label')
location_search.click()

In [355]:
company_name=[]

company_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_tag[0:10]:
    A=i.text
    company_name.append(A)

In [357]:
len(company_name)

10

In [358]:
job_posted=[]

Days_ago=driver.find_elements(By.XPATH,'//span[@class="body-small-l" and contains(text(),"ago")]')
for i in Days_ago[0:10]:
    A=i.text
    job_posted.append(A)

In [360]:
len(job_posted)

10

In [361]:
rating=[]

rating_tag=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating_tag[0:10]:
    A=i.text
    rating.append(A)

In [363]:
len(rating)

10

In [364]:
DF=pd.DataFrame({'Company':company_name,'job posted':job_posted,'Rating':rating})
DF

                                          Company job posted Rating
0                         CBRE South Asia Pvt Ltd    10d ago    4.3
1                   GENPACT India Private Limited     3d ago    4.0
2                                         Genpact     5d ago    4.0
3        Ericsson India Global Services Pvt. Ltd.    20d ago    4.3
4                   GENPACT India Private Limited    13d ago    4.0
5  Optum Global Solutions (India) Private Limited    17d ago    4.1
6  Optum Global Solutions (India) Private Limited    18d ago    4.1
7        Ericsson India Global Services Pvt. Ltd.    30d ago    4.3
8                      SOPRA STERIA INDIA LIMITED    19d ago    4.2
9                EXL Services.com ( I ) Pvt. Ltd.    19d ago    3.9

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [393]:
driver=webdriver.Chrome(r'C:\Users\ashud\Desktop\FLIP ROBO INTERNSHIP\chromedriver_win32\chromedriver.exe')

In [373]:
driver.get('https://www.ambitionbox.com/')

In [374]:
salary_page=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary_page.click()

In [375]:
browse_salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a')
browse_salary.click()

In [380]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
designation.send_keys('Data Scientist')

In [379]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button/span')
search.click()

In [381]:
data_scientist=driver.find_element(By.XPATH,'/html/body/section[1]/div/section/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[8]/div[1]/div[1]/div/a')
data_scientist.click()

In [394]:
driver.get('https://www.ambitionbox.com/profile/data-scientist-salary/financial-services-industry')

In [401]:
company_name=[]

company_tag=driver.find_elements(By.XPATH,'//div[@class="name"]')
for i in company_tag[0:10]:
    A=i.text.split('\n')[0]
    company_name.append(A)

In [403]:
len(company_name)

10

In [410]:
Number_of_salaries=[]

NoS=driver.find_elements(By.XPATH,'//span[@class="salary-datapoints"]')
for i in NoS[0:10]:
    A=i.text[1:-1]
    Number_of_salaries.append(A)

In [406]:
len(Number_of_salaries)

10

In [412]:
Average_salary=[]

AS=driver.find_elements(By.XPATH,'//div[@class="results-body"]//p')
for i in AS[0:10]:
    A=i.text
    Average_salary.append(A)

In [414]:
len(Average_salary)

10

In [415]:
Minsalary=[]

MS=driver.find_elements(By.XPATH,'//div[@class="results-body"]//div[@class="salary-values"]//div[1]')
for i in MS[0:10]:
    A=i.text
    Minsalary.append(A)

In [416]:
Minsalary

['₹ 5.0L',
 '₹ 4.3L',
 '₹ 12.0L',
 '₹ 16.5L',
 '₹ 10.0L',
 '₹ 8.0L',
 '₹ 8.0L',
 '₹ 7.4L',
 '₹ 12.0L',
 '₹ 6.0L']

In [417]:
Max_Salary=[]

Max=driver.find_elements(By.XPATH,'//div[@class="results-body"]//div[@class="salary-values"]//div[2]')
for i in Max[0:10]:
    A=i.text
    Max_Salary.append(A)

In [418]:
Max_Salary

['₹ 25.0L',
 '₹ 20.1L',
 '₹ 31.3L',
 '₹ 45.0L',
 '₹ 25.0L',
 '₹ 22.5L',
 '₹ 20.0L',
 '₹ 26.0L',
 '₹ 26.0L',
 '₹ 35.0L']

In [419]:
DF=pd.DataFrame({'Company':company_name,'Number of salaries':Number_of_salaries,'Average Salary':Average_salary,'Min Salary':Minsalary,'Max Salary':Max_Salary})
DF

            Company Number of salaries Average Salary Min Salary Max Salary
0               IBM       525 Salaries        ₹ 12.7L     ₹ 5.0L    ₹ 25.0L
1  HCL Technologies       199 Salaries         ₹ 9.5L     ₹ 4.3L    ₹ 20.1L
2   JP Morgan Chase        76 Salaries        ₹ 20.8L    ₹ 12.0L    ₹ 31.3L
3            PayPal        73 Salaries        ₹ 29.8L    ₹ 16.5L    ₹ 45.0L
4  American Express        59 Salaries        ₹ 16.8L    ₹ 10.0L    ₹ 25.0L
5              HSBC        49 Salaries        ₹ 13.1L     ₹ 8.0L    ₹ 22.5L
6         HDFC Bank        46 Salaries        ₹ 14.7L     ₹ 8.0L    ₹ 20.0L
7  Societe Generale        42 Salaries        ₹ 17.6L     ₹ 7.4L    ₹ 26.0L
8          Barclays        39 Salaries        ₹ 18.8L    ₹ 12.0L    ₹ 26.0L
9       Xyz Company        38 Salaries        ₹ 17.8L     ₹ 6.0L    ₹ 35.0L